.container{
    
}
.image_reg{
    margin-top: 180px;
    font-size: 2.5vw;
}
.images{
    display: flex;
    justify-content: space-around;
}
h3{
    display: flex;
    justify-content: center;
}
.imagesWithText{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
