
.statsComponents{
    font-size: 2vw;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.energy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .statsComponents{
        font-size: 23px;
    }
}